@import url(https://fonts.googleapis.com/css?family=Khula:700);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700);

/* Estilos globales */
html, body {
    height: 100%; 
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Evita el desplazamiento horizontal */
    font-family: 'Roboto', sans-serif;
}

/*##############################*/
/* Configuración Título Consola */
/*##############################*/
.hidden {
    opacity:0;
}

.consola-contenedor {
    font-family:Khula;
    font-size:4vw;
    text-align:center;
    height: 12vw;
    width: 100%;
    display: flex; 
    align-items: center; 
    justify-content: center;
    color:rgb(244, 244, 244);
    background-color: #3e3e3e; 
    top:0;
    bottom:0;
    left:0;
    right:0;
    margin:auto;
    box-shadow: 0vw 0.5vw 1vw rgba(0, 0, 0, 0.567);
}

.consola-guion-bajo {
    display:inline-block;
    position:relative;
    top:-0.14em;
    left:5px;
}

/*##############################################*/
/* Configuración para el contenido de la página */
/*##############################################*/
main {
    width: 100%;;
    height: calc(100vh - 80px); 
}

/*###########*/
/* Secciones */
/*###########*/
main section {
  margin-top: 3vw;
  margin-bottom: 3vw; 
}
  

/*#################*/
/* Bloques de Ruta */
/*#################*/
pre {
    background-color: #3e3e3e;
    color: whitesmoke;
    border: 1px solid #ebebeb;             
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 10px;      
    padding-left: 3%;
    overflow: auto;          
    font-family: monospace;   
    font-size:1.2vw;
}

/*###########*/
/*Encabezados*/
/*###########*/
h1 {
  font-family: 'Roboto', sans-serif;
  font-size:2.5vw;
  text-align:justify;
  margin-right: 10%;
  margin-left: 10%;
  color: #ff8945;
}


p {
    width: 80;
    text-align: justify;
    font-family: 'Roboto', sans-serif;
    font-size:1.8vw;    
    font-weight: 500;
    color: #333333;
    margin-right: 10%;
    margin-left: 10%;
    display: flex; 
}

/* Diseño de los textos de las rutas */
#txtGet, #txtUpdate, #txtPost, #txtDelete, #txtMongo, #txtFirebase { font-weight: 900; }

#txtGet, #lblSubObtener { color: #5094f4; }
#txtUpdate, #lblSubActualizar { color: #f4a550; }
#txtPost, #lblSubCrear {  color: #4ca935; }
#txtDelete, #lblSubEliminar { color: #c56b6b; }

#txtMongo { color: #3fc480; }
#txtFirebase { color:#ff8945;}


#separacion {
  opacity: 60%;
}

#txtFirebase, #txtMongo, #lblRuta, #txtGet, #txtCreate, #txtUpdate, #txtDelet{
  font-size: 1.5vw;
}

#lblRuta {
  font-weight: lighter;
  color: #f1f1f1;
  
}

#lblTitulos {
  font-weight: bolder;
  color: rgb(25, 78, 152);
}

#lblSubAgregar, #lblSubObtener, #lblSubEliminar, #lblSubActualizar, #lblSubCrear, #lblSubFirebase, #lblSubMongo {
  font-family: 'Roboto', sans-serif;
  font-size: 1.8vw;
  font-weight: bold;
  text-align: justify;
  width: 100%;
  display: flex; 
  margin-right: 10%;
  margin-left: 10%;
}

#lblSubMongo{ color: #1e7b4b; }
#lblSubFirebase{ color: #ff8945; }



#lista {
  list-style-type: none; 
  display: flex;
  
  justify-content: center; /* Centra la lista horizontalmente */
  max-width: 70%; /* Ajusta el ancho máximo de la lista */
  padding: 0;
  margin: 0 auto; /* Centra la lista en el contenedor */
  
  flex-wrap: wrap; /* Permite que los elementos se ajusten a la siguiente fila si son demasiados */
}

#lblFinal {
  font-size: 2vw;
  text-align: center;
  color: #5094f4;
}

#lista li {
  background-color: #3e3e3e; 
  color: whitesmoke; 
  
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  font-size:1.8vw; 
  text-align: center; 
  
  margin: 10px; 
  padding: 20px; 
  
  border-radius: 8px; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.281); 
  
  display: flex;
  flex-basis: 25%; 
  justify-content: center;
  align-items: center;
}

.contenedor-imagenes {
  display: flex;
  justify-content: space-around;
  margin-right: 10%;
  margin-left: 10%;
}

.contenedor-imagenes img {
  width: 40%; 
  height: 40%;
}

